@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Ubuntu&display=swap');

$white-font-color: #f2f2f2;
$dark-bg-color: #1C2025;
$lighter-black: #27282F;
$darker-blue: #10637D;
$light-blue: #10F0FC;

$font-ubuntu: 'Ubuntu', sans-serif;
