@use '../../config';

.contact-wrapper {

    background-color: config.$lighter-black;
    border-radius: 6px;
    margin-top: 80px;
    margin-bottom: 40px;

    .contact-title-wrapper {

        h1 {
            padding-top: 30px;
            text-align: center;
            font-size: 36px;
        }
    }

    .links-wrapper {
        width: 50%;
        margin: 30px auto 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 30px;
        gap: 20px;

        a {
            font-size: 24px;
            color: config.$light-blue;
        }
    }
}

@media only screen and (min-width: 768px) {

    .contact-wrapper {
        width: 60%;
        margin: 80px auto 40px auto;

        .links-wrapper {
            a {
                font-size: 28px;
            }
        }
    }
}