@use '../../config';

.contact-wrapper {
    color: black;
    border-radius: 6px;
    width: 90%;
    margin: 0 auto;

    .contact-title-wrapper {

        h1 {
            padding-top: 30px;
            padding-bottom: 30px;
            text-align: center;
            font-size: 2.5rem;
        }
    }

    .links-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 30px;
        gap: 20px;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            a {
                color: black;
            }
        }
    }
}

@media only screen and (min-width: 768px) {

    .contact-wrapper {
        width: 60%;
        margin: 80px auto 40px auto;
        
        .links-wrapper {
            gap: 30px;
        }
    }
}