@use '../../config';

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #FAF2D3;
    color: black;

    .nav-btn {
        cursor: pointer;
        background: transparent;
        border: none;
        display: none;
        outline: none;
        font-size: 20px;
        margin-right: 20px;
    }

    .nav-close-btn {
        margin-right: 0;
    }

    img {
        width: 50px;
        margin: 20px;
    }

    nav {
        margin-right: 80px;
        display: flex;
        gap: 10px;

        a {
            cursor: pointer;
            font-size: 20px;
            font-family: config.$font-reddit-mono;
            font-weight: 600;
            padding: 6px;
            border-radius: 6px;
            text-align: center;
            
            &:hover {
                text-decoration: underline;
            }
        }

        .resume-btn {
            color: black;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    header {
        .nav-btn {
            display: block;
        }

        nav {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: 1s;
            transform: translateY(-100vh);
            background-color: #FAF2D3;

            
            .nav-close-btn {
                margin-top: 20px;
                font-size: 20px;
                
            }
            
            a {
                margin: 0;
                margin-top: 8px;
                font-size: 22px;
            }
        }

        .responsive_nav {
            transform: none;
        }
    }

}