@use "../../config";

.intro-wrapper {
  font-family: config.$font-reddit-mono;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #faf2d3;
  color: black;
  height: 500px;

  .intro-wrapper-content {
    width: 90%;
    margin: 50px auto 50px auto;

    .intro-wrapper-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .intro-wrapper-section-content {
        .intro-wrapper-title {
          font-size: 2.5rem;
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .intro-wrapper {
    height: 700px;

    .intro-wrapper-content {
      .intro-wrapper-section {
        .intro-wrapper-section-content {
          .intro-wrapper-title {
            font-size: 3.5rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  .intro-wrapper {
    height: 900px;

    .intro-wrapper-content {
      .intro-wrapper-section {
        .intro-wrapper-section-content {
          .intro-wrapper-title {
            font-size: 4rem;
          }
        }
      }
    }
  }
}

#text-one {
  opacity: 0;
}
