@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

$white-font-color: #f2f2f2;
$dark-bg-color: #1C2025;
$lighter-black: #27282F;
$darker-blue: #10637D;
$light-blue: #5CD2E6;

$font-ubuntu: 'Ubuntu', sans-serif;
$font-reddit-mono: 'Reddit Mono', sans-serif;
